.cox-modal{
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.cox-modal.acvite{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cox-modal-content-user{
color:rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
padding: 20px;
border-radius: 12px;
height: 150px;
width: 400px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.cox-modal-button{
  display: flex;
  align-items: center;
  justify-content: space-around;
}